@media screen and (max-width: 1024px) {
    section.topo >.container{
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .search{
        width: 100%;
    }
    section.topo .search input[type=search]{
        width: 100%;
    }
    section.topo .search form{
        margin: 20px 0;
    }
    .left{
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    
}
@media screen and (max-width: 960px){
    section.body >.container{
        flex-wrap: wrap;
    }
    aside, main{
        width: 100%;
        padding: 0;
    }
    main{
        margin: 20px 0;
    }
    main section.slide, .splide__slide{
        height: auto;
        margin-top: 20px;
    }
    div.anuncio_vertical{
        display: none;
    }
    section.painel{
        min-height: 0;
    }
    
}

@media screen and (max-width: 860px){
    .wraper_33{
        width: 50%;
    }
}

@media screen and (max-width: 560px){
    .wraper_33{
        width: 100%;
    }
}